<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VOD</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="./"><h1>Pix</h1></a>
    <h2 th:text="${title}"></h2>
    <h3>
    </h3>
</header>
<section>

    <table>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Cinemas</th>
        </tr>
        <tr th:each="m : ${movies}">
            <td>
                <img th:src="${m.poster}"/>
            </td>
            <td th:text="${m.title}"></td>
            <td>
                <a th:href="@{/movies?directorId={id}(id=${m.director.id})}"
                   th:text="${m.director.firstName} + ' ' + ${m.director.lastName}"></a>
            </td>
            <td class="rating"></td>
            <td class="search-container">
                <a class="search" th:href="@{/cinemas?movieId={id}(id=${m.id})}"></a>
            </td>
        </tr>
    </table>

</section>
<div id="orders">
</div>
<footer>
    ${tip}
</footer>

</body>
</html>